*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #fefefe;
}

header{
    position: absolute;
    
    width: 100%;
    height: 80px;
    background: #08528a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    color: #fefefe;
    
    padding:10px;
    border-radius:10px;
    /* box-shadow:  5px 5px 5px -1px rgba(7, 65, 110, 0.445),
             -5px -5px 5px -1px rgba(255, 255, 255, 0.281); */
    box-shadow:  5px 5px 5px -1px rgba(5, 50, 85, 0.267),
             -5px -5px 5px -1px rgba(255, 255, 255, 0.226);
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.1s;
    margin: 0 5px;
    box-shadow:  5px 5px 5px -1px rgba(7, 65, 110, 0.137),
             -5px -5px 5px -1px rgba(255, 255, 255, 0.11);
}

.nav-bar ul li a:hover{
    color: #11101b;
    background: #ebeef1;
    box-shadow: inset 5px 5px 5px -1px rgba(5, 48, 78, 0.315),
                inset -5px -5px 5px -1px rgb(255, 255, 255);
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #ebeef1;
    box-shadow: inset 5px 5px 5px -1px rgba(5, 48, 78, 0.315),
                inset -5px -5px 5px -1px rgb(255, 255, 255);
}