

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #fefefe;
}

header{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #08528a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    color: #fefefe;
    padding:10px;
    border-radius:10px;
    transition: 5s;
    box-shadow:  5px 5px 5px -1px rgba(5, 50, 85, 0.267),
             -5px -5px 5px -1px rgba(255, 255, 255, 0.226);
    cursor:pointer;
             
    
}

.logo:hover{
    box-shadow:  inset 5px 5px 5px -1px rgba(5, 50, 85, 0.267),
                inset -5px -5px 5px -1px rgba(255, 255, 255, 0.226);
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 5px;
    transition: 1s;
    box-shadow:  5px 5px 5px -1px rgba(5, 50, 85, 0.267),
             -5px -5px 5px -1px rgba(255, 255, 255, 0.151);
}

.nav-bar ul li a:hover{
    box-shadow: inset 5px 5px 5px -1px rgba(5, 48, 78, 0.315),
                inset -5px -5px 5px -1px rgba(255, 255, 255, 0.11);
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #ebeef1;
    box-shadow: inset 5px 5px 5px -1px rgba(5, 48, 78, 0.315),
                inset -5px -5px 5px -1px rgb(255, 255, 255);
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width:30px;
        height: 3px;
        background: #ebeef1;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        
        background: #08528a;
        transition: 0.2s;
        overflow: hidden;
    } 

    .nav-bar.active{
        height:450px;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity:1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}